/* 
-Sokthai Tang
-sokthai_tang@student.uml.edu
-COMP 4610 201
-OCT/8/2018 
-Homework 4
*/

body{
    color: black;
    margin: 0;
    padding: 0;
}

.side{
    
    position: fixed; /* position the side panel to fix  */
    background-color: lightseagreen;
    padding-top: 30px;
    padding-left: 20px;
    width: 200px;
    height: 100%;
    
}

.content{
    position: absolute;
    left: 300px;
    padding-right: 200px;
}


#logo{
    position: absolute;
    left: 35px;

}

#logo h3{
    position: inherit;
    left: 50px;
}
img{
    border: 3px dashed #ddd;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    /* display shadow for the logo  */
    box-shadow: 0 5px 10px 0 rgba(15, 15, 15, 0.2), 0 6px 20px 0 rgba(15, 0, 0, 0.19);
}

span{
    font-weight: bold;
}
ul{
    position: absolute;
    left: 10px;
    top: 280px;
}

li{
    display: block;
    padding-top: 10px;
    
}

li a{
    text-decoration: none;
    font-size: 19px;
    transition: all .4s ease-in-out; /* transform link in .4s */
}

li a:visited{
    color: blue;
}

li a:hover{
    color: green;
}

h4{
    border-top: 1px solid gray;
    display: block;
    padding-top: 10px;
}

p{
    display: inline;
}


a:hover{
    color: green;
}


a{
    color: blue;
    transition: all .4s ease-in-out; /* transform link in .4s */
}

a:visited{
    color: rgb(104, 44, 44);
}

.assign{
    padding-right: 10px;
}

