body{
    background-image: url("../images/beach.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}



#gtable{
    border: 5px solid red;
    /* margin: auto; */
    margin: 0 50px;
    border-collapse: collapse;
    display: inline-block;
}

.gth{
    background-image: url("../images/tw.png");
    background-size: 100%;
    /* padding-bottom: 50px; */
}


td{
    border: 1px solid green;
    width:  45px;
}

tr{
    height: 45px;

}
#scrabble{
    border: 2px solid blue;
    position: relative;
}

#table{
    border: 1px solid green;
    margin-top: 100px;
    margin: auto;
    display: inline-block;
    /* padding-left: 50%; */
}
#rack{
    border: 2px solid purple;
    position: absolute;
    right: 30px;
    top: 100px;
    width: 430px;
    height: 80px;
    background-image: url("../images/rack.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

#stand{
    /* border: 1px solid blue; */
    width: 400px;
    height: 45px;
    position: absolute;
    right: 10px;
    top: 21px;
}



.tiles{
    background-image: url("../images/A.jpg");
    right: 20px;
    top: 250px;
    width: 48px;
    height: 45px;
    display: inline-block;
    position: absolute;
    cursor: pointer;
    background-size: 100%;
    border-radius: 2px;
}