body{
    background-image: url("../images/beach.jpg");  
    background-repeat: repeat;
    min-width: 700px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.gth{
    /* background-image: url("../images/tw.png"); */
    background-size: 100%;
    /* padding-bottom: 50px; */
}

td{
    border: 1px solid green;
    width:  38px;
}

tr{

    height: 38px;

}
#scrabble{
    position: relative;
    margin: auto;
}

#table{
    border: 5px solid peru;
    /* margin-top: 100px; */
    padding: 5px;
    margin: auto;
    display: inline-block;
    margin-left: 40px;
    /* overflow: scroll; */
    width: 610px;
    height: 580px;
    
}

#gtable{
    border: 5px solid red;
    /* margin: auto; */
    /* padding: 0 50px; */
    border-collapse: collapse;
    display: inline-block;
    width: 600px;
    height: 571px;
    /* background-image: url("../../1.jpg"); */
    background-size: cover;
}
.rack{
    /* border: 2px solid purple; */
    position: absolute;
    width: 420px;
    height: 60px;
    background-image: url("../images/rack.png");
    background-size: 100% 100%;
    bottom: 40px;
}

#stand{
    /* border: 1px solid blue; */
    width: 390px;
    height: 44px;
    position: absolute;
    margin: auto;
    right: 0px;
    /* top: 10px; */
    padding: 5px;
}

.standTable{
    position: absolute;
    right: 25px;
    top: 10px;
    border-spacing: 10px 0px;
    /* border: 1px solid red; */
}

.letterStand{
    border: 1px solid green;
    position: relative;
}

#swap1{
    left: 20px;
}

#swap2{
    left: 20px;
}

.button:disabled{
    color: gray;
    background-image: url("../images/disableButton.png");
}

.button:disabled:hover{
    box-shadow: none;
    cursor: default;

}

.play{  
    left: 170px;
}

.pass{
    left: 95px;
}

.button{
    background-image: url("../images/activeButton.png");
    /* background-color: #4CAF50; */
    position: absolute;
    bottom: 0px;
    text-align: center;
    font-size: 15px;
    padding: 8px 15px;
    border: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    width: 70px;
    /* left: 20px; */
    
}

.button:hover{
    box-shadow: 2px 2px 5px gray;
}

#player1{
    top: 80px;
}


#player2{
    top: 250px;
}

.player{
    position: absolute;
    /* border: 1px solid blue; */
    width: 430px;
    height: 130px;
    margin-left: 80px;
    z-index: auto;
}

div#cover{
    position: absolute;
    width: 430px;
    height: 130px;
    border: 2px solid red;
    top: 250px;
    z-index: 1;
    margin-left: 80px;
}


.scoreBoard{
 
    /* margin-left : 80px; */
    position: absolute;
    /* height: 60px; */
    width: 430px;
    /* top: 10px; */
    /* border: 1px solid green; */

    
    
}
.scoreBoard > p{
    /* border: 1px solid blue; */
    margin-top: 0px;
    margin-left: 20px;
    width: 250px;
    text-align: left;
    
}



#playerBoard{
    border: 5px solid peru;
    display: inline-block;
    width: 600px;
    height: 590px;
    position: absolute;
    top: 0px;
    margin-left: 20px;
    /* background-size: cover; */
    /* background-image: url("../../1.jpg"); */
}

.tiles{
    background-image: url("../images/A.jpg");
    right: 0px;
    top: 0px;
    width: 38px;
    height: 36px;
    /* display: block; */
    position: absolute;
    cursor: pointer;
    background-size: 100%;
    border-radius: 2px;
    opacity: 0.75;
    
    /* border: 1px solid lawngreen; */
}

.ui-draggable-disabled{
    cursor: default;
    /* outline: red solid 1px;  */
    border: 2px solid red;
    width: 93%;
    opacity: .9;
}





/* set images for scrabble board */
.tw{
    background-image: url("../images/tw.png");
}

.dl{
    background-image: url("../images/dl.png");
}

.dw{
    background-image: url("../images/dw.png");
}

.tl{
    background-image: url("../images/tl.png");
}

.star{
    background-image: url("../images/star.png");
}

@media screen and (max-width: 1100px) {
    body {
      background-color: lightgreen;
    }
    #playerBoard{
        display: block;
        top: 600px;
        width: 620px;
        margin: 10px 50px;
        margin: auto;
        left: 50px;
    }
    #table{
        display: block;
        margin-left: 50px;
    }

  }